.jumbo-container {
    background: url(img/mty.jpg);
    color: #727272;
    font-size: 59;
    height: 200px;
    text-align: center;
    box-shadow: 0 4px 8px #ccc;
}

.health-card:hover,.home-genres__tile:disabled{
    text-decoration: none;
    color: #4c4c4c;
    box-shadow: 0 4px 10px 0 rgba(206, 200, 200, 0.5);
    border: 0;
}

.status__tile{
    /*background-color: #E7B366;   */
    margin: 25px;
    border-radius: .5em;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}
.date{
    font-size: 11px;
    color: #989898;
}
.health-card{
    border-radius: .5em;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    background: #fff;
    color: #000;
    margin: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    height: 100px;
}

.health-card:hover{
    text-decoration: none;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
    border: 0;
}


.nav-btn{
    background: transparent;
    border-radius: 7.5px;
    padding: 10px;
    color: inherit;
    font-size: 14px;
    border-color: ghostwhite;
    letter-spacing: 1px;
    border: 1px solid #aaa;
}
.header-btns button{
    margin-left: 23px;
}
@media only screen and (max-width: 576px) {
    .nav-btn {
      font-size: 10px;
    }
    .header-btns button{
        margin-left: 5px;
    }
}
.nav-btn:hover{
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.08);
}
.navbar{
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.08);
}
.navbar a{
    padding: 0;
}
.navbar a img{
    height: 83px;
    width: 136px;
}
@media only screen and (max-width: 576px) {
    .navbar a img {
        height: 40px;
        width: 50px;
    }
}

 .btn-link{
    color: #009999;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
 }
 .btn-link:hover{
    text-decoration: none;
    color: #009999;
 }
 .btn-link:focus{
    text-decoration: none;
 }
 

  .pages__container{
      margin-top: 20px;
      width: 100%;
      max-width: 340px;
  }
  .pages__container p{
      margin-top: 35px;
      margin-bottom: 35px;
  }
  .pages__container h2::after {
    content: "";
    background-color: #E7B366;
    width: 100px;
    height: 1px;
    display: flex;
    margin: 20px auto;
  }
  
.display-none{
    display: none;
}
.error-message{
    color: red;
    letter-spacing: .6px;
    font-size: 14px;
}
